<!DOCTYPE html>
<html>
<head>
	<title>Analysis</title>
	{% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'inputbutton.css' %}">
</head>
<body>


	<nav class="navbar navbar-inverse">
		<ul class="nav navbar-nav">
			 <li class="active"><a href="{% url 'index' %}#">Home</a>
			<li><a href="#">About us</a></li>

		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
		</ul>

		</div>
	</nav>

	<h1> Solar Prediction</h1>

	<div class="box">

        <h2>Select the type of Analysis</h2>
		<form method="POST">
			{%csrf_token%}
            <button type="submit" value="curr"  name="curr" class="btn  btn-default"><span class="text">Current Day</span> </button>
                <br>
                <button type="submit" value="future" name="future" class="btn  btn-primary"><span class="text">Future</span></button>
                <br>
                <button type="submit" value="Weekly" name="Weekly" class="btn  btn-warning"><span class="text">Weekly</span></button>
		</form>
	</div>

</body>
</html>